/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

body {
	font-family: montserrat, arial, verdana;
	background-color: #fff;
}
/*form styles*/
#msform {
	width: 100%;
	min-height: 1020px;
	margin: 50px auto;
	position: relative;
  
}
#msform fieldset {
	background: #fff;
	border-top: #66ff99 20px solid;
	border-radius: 10px;
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(46,74,117,0.4);
	-moz-box-shadow: 0px 0px 5px 1px rgba(46,74,117,0.4);
	box-shadow: 0px 0px 5px 1px rgba(46,74,117,0.4);
	
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
#msform input:focus, #msform textarea:focus {
	box-shadow: 0 0 0 1px #66ff99;
}
#msform input:hover, #msform select:hover, #msform checkbox:hover{
	box-shadow: 0 0 0 1px #66ff99;
}

#msform select:focus {
	box-shadow: 0 0 0 1px #66ff99;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #097a3c ;
	font-weight: bold;
	color: #ffff;
	border: 0 none;
	border-radius: 4px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
  
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #097a3c ;
  	color: white;
}

#msform input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
  }
  #msform input[type=date]{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
  }
  #msform input[type=number]{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
  }
  #msform input[type=email]{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
  }

/* checkbox */
ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "FontAwesome";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #1bdbf8;
    background-color: #12bbd4;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #e9a1ff;
}

/*headings*/
.fs-title {
  text-align: center;
	font-size: 26px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
  text-align: center;
	font-weight: normal;
	font-size: 14px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 20px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
	width:100%;
	text-align: center;
  }
  #progressbar li {
	list-style-type: none;
	  color: black; 
	text-transform: uppercase;
	font-size: 9px;
	width: 9%;
	float: left;
	position: relative;
	margin-bottom: 20px;

  }
  #progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 32px;
	line-height: 32px;
	display: block;
	font-size: 14px;
	font-weight: bolder;
	color: #0D0D39;
	background: white;
	border-radius: 50px;
	margin: 0 auto 5px auto;
	margin-top: 10px;
	position: relative;
	
  }
  /*progressbar connectors*/
  #progressbar li:after {
	margin-top: 14px;
	content: '';
	width: 78%;
	height: 4px;
	background:#eeee;
	position: absolute;
	left: -40%;
	top: 9px;
	z-index: 10; /*put it behind the numbers*/
	
  }
  #progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
  }
  /*marking active/completed steps green*/
  /*The number of the step and the connector before it = green*/
  #progressbar li.active:before,  #progressbar li.active:after{
	background: #66ff99;
	color: black;
  }
  

